
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
@import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Author: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */

.wrapper{ background-image: url(img/background.jpg); background-size: cover; position: fixed; width: 100%; height: 100%; }
.ray-bg{  position: relative; overflow: hidden; width: 100%; height: 100%;
 	&:before{ content: ''; position: absolute; width: 200%; height: 200%; top: -50%; left: -50%; z-index: -1; background-image: url(../img/rays.png); -webkit-filter: opacity(15%); background-position: center; animation: spin 15s infinite linear; transform-origin: 50% 50%; }
}
.fun-wrapper{ position: absolute; top: 0; width: 100%; height: 100%; }
.signin-bg{ .fun-wrapper; display: table; background-image: url('img/signin-bg.jpg'); background-size: cover; }



#Numbers g{ pointer-events: none; }
//SIGNIN


.sign-in{
	section{ display: table-cell; vertical-align: middle; }
	.input-group{ width: 45%; margin: 0 auto; }
	form{ .rounded-container; font-size: 150%; padding: 2em 3em; }
	input{ border-radius: 12px; margin-bottom: 1.65em; padding: .5em; font-size: 1.3em; box-shadow: inset 0px 0px 8px #999999; }
	input[type="submit"]{ .block; .bold; color: white; box-shadow: inset 0px 0px 6px #1b1b1b; font-size: 1.3em;border-radius: 50px; margin: 0 auto; .orange-btn-grad; }
  .small-margin{ margin-bottom: 1em; }
} 

#cc-logo{ .block; margin: 3em auto; width: 80%; }

#signin-button{ .trans; padding: .25em;
	&:hover, &:focus{ .orange-btn-grad; color: white;  }
	&.on{ animation: pulse .4s ease-in-out; animation-iteration-count: 1; }

}

//FLOOR PLAN

.floorplan{
	.floorplan-bg{ background-image: url('img/floorplan-background-with-logo.jpg'); background-size: cover; background-size: 96%; background-position: center right; }
	.nav-menu{ position: absolute; left: 0; right: 0; bottom: 0; height: 81px; background-image: url('img/floorplan-menu-bg.jpg'); }
	.nav-menu a{ display: inline-block; color: @dark-brown; line-height: 1; text-decoration: none; padding: .55em; font-size: 2.5em; }
}
#summary-overlay{ width: 66%; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translateX(-50%,-50%); 
	p.uppercase{ font-size: 2em; margin-bottom: 0; color: @light-gray; }
}
#summary-overlay{ transform: translate(-50%, -100%); visibility: hidden; opacity: 0; .trans(.4s);
  &.is-visible{ transform: translate(-50%, -50%); visibility: visible; opacity: 1; .trans(.4s); }
}
.overlay-container{ width: 100%; height: 100%; background: rgba(0,0,0,.75); .absolute;
	
}
#back-to-floorplan{ .absolute; bottom: 1em; left: 1em; }

#lets-play{ .absolute; .bold; color: white; bottom: 0; transform: translate(-50%,50%); padding: 0.55em 2.5em; box-shadow: inset 0px 0px 6px #1b1b1b; font-size: 1.3em;border-radius: 50px; }

// .floorplan-container{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
//LOADING
#loading-button{ position: absolute; background: #00c200; transform: translate(-50%, 50%); padding: 0.55em 2.5em; bottom: 0; padding: 1em 4.5em; box-shadow: inset 0px 0px 6px #1b1b1b; border-radius: 50px; z-index: 10; }

//BINGO BALLS
#game-wrapper{ position: absolute; top: 0; left: 0;  }

#title-balls{ .relative; top: 0; margin-top: -8em; text-align: center; padding-left: 140px;
	img{ .relative; width: 200px; display: inline-block; }
	.title-bb-2{ margin-top: -3em; }
	.title-bb-4{ margin-top: -5em; }
}

#bp-winner{ position: absolute; top: 0; left: 0; bottom:0; right: 0;  
  .bp-winner-title{ position: absolute; opacity: 0; top: 50%; left: 5%; transform: translate(-50%,-20%) scale(0,0);  animation: hvr-pulse 1s linear .25s infinite;  }
}

.bp{ animation: hvr-bob 15s infinite ease; transform-origin: 50% 50%; }

#winner{ position:absolute; top: 0; width: 100%; height: 100%; 
	img { .relative; }
	
	.winner-friends{ .hide; width: 200px; top: 20%; position: absolute;
		&.winner-bb-2{ left: 2%; }
		&.winner-bb-3{ left: 13%; margin-top: -3em; }
		&.winner-bb-4{ left: 72%; margin-top: -2em; }
		&.winner-bb-5{ left: 83%; }
	}
	.winner-bb-1{ position: absolute; width: 300px; margin-left: -145px; margin-top: -250px; left:-100px; top:-100px; }
	.winner-title{  .block; margin: 0 auto; opacity: 0; top: 50%; }
}

.sw-bg{ background: url(img/sw-bg.jpg) no-repeat; background-size: cover; background-size: 150% 150%; .absolute; top: 0; left: 0; bottom: 0; right: 0; }

.bp-bg{ background: url(img/bp-bg.jpg) no-repeat; background-size: cover; .absolute; top: 0; left: 0; bottom: 0; right: 0; }
#bp-title{ position: relative; 
	img{ margin: 0 auto; .block; }
	#bp-title-1{ transform: scale(0); position: relative; width: 80%; margin-top: 5em; }
	#bp-title-2{ transform: scale(0); width: 50%; margin-top: -7em; }
}

#rocket{ .trans(.5s); width: 100px; height: 182px; position: absolute; bottom: 5em; margin-left: 0em; 
  .rocket-img{ .absolute; top: 0; left: 0; }
}
#laser-beam{ opacity: 0; transition: transform .1s linear;
  &.rocket-burst{ opacity: 1; }

}
#sw-title{ transform: translateY(15%); }
.sw-pop{ opacity: 0; 
    &.pop{ opacity: 1; }
    &.delayed-hide{ animation: delayed-hide .1s linear .25s forwards; }
}

#stars-bg{ .absolute; top: 0; left: 0; width: 100%; height: 100%; transform: scale(0); background: url(img/sw-title-stars.png) no-repeat; background-size: cover;  }

.sw-winner-title{ .absolute; top: 28%; transform: scale(0);  }

.sw-winner-star{ width: 35px;  position: absolute; }
#sw-winner-star{ left: -300px; bottom: 0px;  }
#sw-winner-star1{ left: -175px; bottom: 250px; }
#sw-winner-star2{ left: 23px; bottom: -100px; }
#sw-winner-star3{ left: 300px; bottom: -283px; }
#sw-winner-star4{ left: 1200px; bottom: 425px; }
#sw-winner-star5{ left: -1300px; bottom: 972px; }
#sw-winner-star6{ left: 626px; bottom: -1100px; }
#sw-winner-star7{ left: 817px; bottom: -666px; }

#main-floorplan{ .block; .absolute; width: 100%; height: auto; top: 1em; right: -.35em;
	// .machines path,.machines rect{ fill:url('../../#img1'); }
	#numbers{ stroke: black; stroke-width: 2; }
}


#bb-grid.sw-on{ height: 100%; 
  .grid-wrapper.row-4 div.bp-holder.bp-small img{ width:100%; }
  .grid-wrapper.row-4 div.bp-holder.bp-medium img{ width:100%; }
  .grid-wrapper.row-4 div.bp-holder.bp-large img{ width:100%; }
  .grid-wrapper.row-4.game-rows2 div.holder{
    &:nth-child(2n+1){ animation: hello; }
    &:nth-child(3n+2){ animation: hello; }
    &:nth-child(3n+1){ animation: hello; }
  }
}

#bb-grid{ position: absolute; top: 50%; left: 50%; width: 80%; margin: 0 auto; text-align:center; transform: translate(-50%,-50%);
// #bb-grid{ width: 80%; margin: 0 auto; text-align:center;
// #bb-grid{ position: absolute; top: 0; left: 0; width: 80%; margin: 0 auto; text-align:center;
	.grid-wrapper{ display: table; width: 100%; 
    // img.bb-grid-ball-num{ position: relative !important; }
		&.row-4{
			img{  width: 25%; }
			div.bp-holder{
				&.bp-small img{ width: 80%; }
				&.bp-medium img{ width: 90%; }
				&.bp-large img{ width: 100%; }
			}

			div.bp-holder:nth-child(2n+1){ animation: hvr-bob 3.8s infinite ease; transform-origin: 50% 50%;  width: 25%; height: 350px; }
			div.bp-holder:nth-child(3n+2){ animation: hvr-bob-other 2s infinite ease; transform-origin: 50% 50%;  width: 25%; height: 350px; }
			div.bp-holder:nth-child(3n+1){ animation: hvr-bob 3s infinite ease; transform-origin: 50% 50%;  width: 25%; height: 350px; }
			.bp-holder img{ position: absolute; top: 0; left: 0; width: auto;}
			// .bp{ animation: hvr-bob 1s infinite ease; transform-origin: 50% 50%; }
			.bp-pop{ transform: translateY(50%); }
			.delayed-hide{ animation: delayed-hide .1s linear .5s forwards; }
			&.game-rows-1{  }
			&.game-rows-2 img.bb-grid-ball-num { width: 21%; padding: .5em 1em; margin: 2em 1em; }
			&.game-rows-3 img.bb-grid-ball-num{ width: 21%; padding: .5em 1em; }
			&.game-rows-4 img.bb-grid-ball-num{ width: 16%; padding: 1em; margin: 0 1.5em; }
			&.game-rows-5 img.bb-grid-ball-num{ width: 16%; padding: .5em 2em; margin: 0 1.5em; }
	

			&.game-rows-1 div.bp-holder{ width: 8%; padding: .5em 2em; margin: .7em 4.5em; }
			&.game-rows-2 div.bp-holder{ width: 17%; height: 250px; padding: .5em 2em; margin: .7em 2.5em; }
			&.game-rows-3 div.bp-holder{ width: 12%; height: 180px; padding: .5em 2em; margin: .7em 4.5em; }
			&.game-rows-4 div.bp-holder{ width: 8%; height: 120px; padding: .5em 2em; margin: .7em 4.5em; }
			&.game-rows-5 div.bp-holder{ width: 8%; height: 120px; padding: .5em 2em; margin: .7em 4.5em; }
		} 
		
		&.row-8{
			img{ width: 12%; margin: 1em 0; padding: 0 1em; }
      .delayed-hide{ animation: delayed-hide .1s linear .5s forwards; }
			div.bp-holder{ width: 12%; height: 180px; }
			.bp-holder img{ position: absolute; top: 0; left: 0; width: auto;}
		} 
	}
	.grid-row{ display: table-row; 
		// img{ display: table-cell; }
		// img{ display: inline-block; }
		
	}
	div.bp-holder { display: inline-block; position: relative;  }
  .winner .pulsing{ animation: hvr-pulse 1s linear infinite; }

}
//SPACEWARS
#bb-grid.sw-on .grid-wrapper{
  .row-4{
    .delayed-hide{ animation: delayed-hide .1s linear .18s forwards; }
    &.game-rows-3 div.sw-holder{ width: 20%; height: 230px; margin: .7em 2.5em; }
    &.game-rows-4 div.sw-holder{ width: 18%; height: 170px; margin: .7em 2.5em; }
    &.game-rows-5 div.sw-holder{ width: 15%; height: 150px; margin: .7em 3em; }
  }
  &.row-8{
    div.sw-holder{ width: 15%; height: 180px; }
  }
}
#bb-grid .grid-wrapper.row-4 div.bp-holder{
  &:nth-child(3n+1){ animation: hellllllo; }
  &:nth-child(3n+2){ animation: hellllllo; }
  &:nth-child(2n+1){ animation: hellllllo; }
}

// .bp-pop{ opacity: 0; }
.bp-hide{ transition: opacity .4s ease-in-out; }
.bp-pop{ opacity: 0; .trans; 
	&.pop{ transform: translateY(50%); opacity: 1; animation: hvr-pop .4s ease-in-out; }
}

.bb-grid-ball-color{ position: relative; display: inline-block; width: 275px; height: 275px; background-size: cover; }
[data-row]{ display: table-row; }


// #title-balls, #winner, .bingo-title, .ray-bg{ .hide; }
#bb-grid img.bb-grid-ball-num, #bb-grid div.bp-holder{ display: none; }
// 	#title-balls, #winner, .bingo-title, .ray-bg{ .hide; }
// }

/* ==|== Custom LESS Variables ===================================================== */
@keyframes rocket-burst{
  0%{ opacity: 0; }
  25%{ opacity: 1; }
  75%{ opacity: 1; }
  100%{ opacity: 0; }
}

@keyframes delayed-hide{
	to { opacity: 0; }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes pulse{
	50%{ transform: scale(.85); }
	100%{ transform: scale(1); }
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100%{
  	opacity: 0;
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1
  }
  100%{
  	opacity: 0;
  }
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(0deg) 
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(360deg) 
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(0deg) 
  }


  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(360deg) 
  }
}
@-webkit-keyframes hvr-bob-other {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(-8px);
    // transform:rotate(0deg) 
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(-8px);
    // transform:rotate(360deg) 
  }
}

@keyframes hvr-bob-other {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    // transform:rotate(0deg) 
  }


  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    // transform:rotate(360deg) 
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* ==|== Custom LESS Helpers ===================================================== */

@dark-brown: #371919;
@light-gray: #919395;


.headlines{ color: @dark-brown; font-size: 5em; }
.subhead{  }
.bodycopy{  }

.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }

.orange-btn-grad{ background: linear-gradient(to bottom, #DB9A28, #C88D2B 61.8%, #D29629 62.92%, #B37D2B 92.3%); }

.zindex{ z-index: 10; }
.border-right{ border-right: 3px solid @dark-brown; }
.border-left{ border-left: 3px solid @dark-brown; }

.rounded-container{ background: linear-gradient(#E6E7E7, #A6A9AB); padding: 4em; border-radius: 50px; }

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}


@media @ipadLandscape{
  #main-floorplan{ height: 600px; right: -.5em }
  #rocket{ bottom: 1em; }
  #bb-grid.sw-on{
    .grid-wrapper.row-4.game-rows-2 div.bp-holder{ margin: 0; padding: 0; height: 170px; width: 25%; }
  }
	#bb-grid{ width: 100%;
	
		.grid-wrapper{ display: table; width: 100%; 
			&.row-4{
				img{  width: 25%; }
				div.bp-holder{ width: 25%; height: 350px; }
				.bp-holder img{ position: absolute; top: 0; left: 0; width: auto;}
				
				.bp-pop{ transform: translateY(50%); }
				&.game-rows-1{  }
				&.game-rows-2 img.bb-grid-ball-num{ width: 24%; padding: .5em; margin: 0; }
				&.game-rows-3 img.bb-grid-ball-num{ width: 22%; margin: 0 1em; padding: .5em 0; }
				&.game-rows-4 img.bb-grid-ball-num{ width: 17.5%; padding: .25em 0; margin: 0 1.5em; }
				&.game-rows-5 img.bb-grid-ball-num{ width: 15.5%; padding: 0em .5em; margin: 0em 2.5em; }

        &.game-rows-1 div.bp-holder{ width: 23%; padding: .5em 2em; margin: .7em 0.5em; }
        &.game-rows-2 div.bp-holder{ width: 22%; height: 250px; padding: .5em 2em; margin: .7em 0.5em; }
        &.game-rows-3 div.bp-holder{ width: 17%; height: 200px; padding: .5em 2em; margin: .7em 1.5em; }
        &.game-rows-4 div.bp-holder{ width: 15%; height: 140px; padding: .5em 3.8em; margin: .7em 2.5em; }
        &.game-rows-5 div.bp-holder{ width: 13.5%; height: 150px; padding: 0; margin: 0px 2.75em; }
			} 
			
			&.row-8{
				img{ width: 11.5%;  margin: .25em; padding: 0 0.25em; }
        &.game-rows-3 div.bp-holder{ width: 12%; height: 180px; }
        &.game-rows-4 div.bp-holder{ width: 12%; height: 160px; }
        &.game-rows-5 div.bp-holder{ width: 10%; height: 135px; margin: 0px 0.75em; }
        // &.game-rows-3 img{ padding: 0 0.25em; }
				div.bp-holder{ width: 12%; height: 180px; }
				.bp-holder img{ position: absolute; top: 0; left: 0; width: auto;}
			} 
		}
		.grid-row{ display: table-row; }
		div.bp-holder { position: relative;  }

	}
	#title-balls img { width: 170px; }
	.bingo-title{ margin-top: 5em }
  .sw-winner-title{ top: 35%; }
  #signin-button{ width: 60%; }
}

@media @genericMobile{

}

@media @genericPhablet{
}

@media @genericPhone{ 
}

